@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

body {
    background-color: #1f1f1f;
    color: white;
}
body, input {
    font-family: "Inter";
    font-weight: bold;
    font-size: 17px;
}
#container {
    display: flex;
    flex-direction: row;
}
#container div {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-right: 50px;
    text-align: center;
}
input {
    /* color: #5879a7; */
    color: #9575CD;
    background-color: #393939;
    outline: none;
    border: none;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}
input:focus {
    color: #D1C4E9;
}
.px {
    z-index: -1;
    position: absolute;
    font-weight: normal;
    padding-left: 65px;
    padding-top: 40px;
}
#string {
    width: 150px;
    text-align: left;
    padding-left: 8px;
}

canvas {
    margin-top: -30px;
    border-radius: 5px;
}